path{
  fill: black;
  position: relative;
}


path:hover {
  cursor: pointer;
  fill: blue;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-0.15deg) translateZ(10px);
  transition: transform .2s ease,
              box-shadow .2s ease;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, .4);
}